[report]
omit = 
    */migrations/*
    */tests.py
    */__init__.py
    source/manage.py
    source/wsgi.py
    source/example_local_settings.py
exclude_lines =
    class Command
    __init__
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
