[report]
omit = 
    */migrations/*
    */admin.py
    */tests.py
    */__init__.py
    loki/manage.py
    loki/wsgi.py
    loki/example_local_settings.py
exclude_lines =
    class Command
    __init__
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
