language: python
python:
- '3.4'
addons:
  postgresql: '9.3'
services: postgresql
install:
- pip install -r requirements.txt --use-mirrors
before_script:
- psql -c 'CREATE DATABASE testdb;' -U postgres
script:
- mv source/interview_communicator/example_local_settings.py source/interview_communicator/local_settings.py
- cd source
- python manage.py migrate
- coverage run --source='.' python manage.py test
after_success:
- coveralls --rcfile=.coverage.rc