{% extends "admin/change_list.html" %}
{% block object-tools-items %}

  <span>
    <a href="{% url 'admin:generate_slots' %}" class="grp-state-focus addlink btn btn-primary">
      <i class="icon-plus-sign icon-white"></i> Generate slots
    </a>
  </span>

  <span>
    <a href="{% url 'admin:generate_interviews' %}" class="grp-state-focus addlink btn btn-primary">
      <i class="icon-plus-sign icon-white"></i> Generate interviews
    </a>
  </span>

  <span>
    <a href="{% url 'admin:generate_emails' %}" class="grp-state-focus addlink btn btn-primary">
      <i class="icon-plus-sign icon-white"></i> Generate emails
    </a>
  </span>

  {{ block.super }}

{% endblock %}

